<launch>
    <!-- Arguments -->
    <arg name="model" default="burger"/>
    <arg name="map_file" default="/home/joan/catkin_ws/maps/tb3_house.map.yaml"/>
    <arg name="open_rviz" default="true"/>
    <arg name="rviz_config" default="/home/joan/catkin_ws/src/my_navigation_stack/config/my_config.rviz"/>

    <!-- My Navigation -->
    <include file="/home/joan/catkin_ws/src/cookobot-navigation/my_navigation_stack/launch/my_navigation_launch.launch" />

    <!-- Provide Map -->
    <include file="/home/joan/catkin_ws/src/cookobot-navigation/provide_map/launch/provide_map.launch"/>

    <!-- rviz -->
    <group if="$(arg open_rviz)">
        <node pkg="rviz" type="rviz" name="rviz" required="true"
            args="-d $(arg rviz_config)"/>
    </group>
</launch>