<launch>
    <!-- Arguments -->
    <arg name="model" default="burger"/>
    <arg name="map_file" default="/home/joan/catkin_ws/maps/tb3_house.map.yaml"/>
    <arg name="open_rviz" default="true"/>
    <arg name="rviz_config" default="/home/joan/catkin_ws/src/cookobot-navigation/my_navigation_stack/config/my_config.rviz"/>

    <!-- Turtlebot3 -->
    <include file="/home/joan/catkin_ws/src/turtlebot3/turtlebot3_bringup/launch/turtlebot3_remote.launch">
        <arg name="model" value="$(arg model)"/>
    </include>

    <!-- Map Server -->
    <include file="/home/joan/catkin_ws/src/cookobot-navigation/provide_map/launch/provide_map.launch"/>

    <!-- AMCL -->
    <include file="/home/joan/catkin_ws/src/turtlebot3/turtlebot3_navigation/launch/amcl.launch"/>

    <!-- move_base -->
    <include file="/home/joan/catkin_ws/src/turtlebot3/turtlebot3_navigation/launch/move_base.launch">
        <arg name="model" value="$(arg model)" />
    </include>

    <!-- rviz -->
    <group if="$(arg open_rviz)">
        <node pkg="rviz" type="rviz" name="rviz" required="true"
            args="-d $(arg rviz_config)"/>
    </group>
</launch>